*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: url(images/image1.jpg)no-repeat center center / cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion{
    width: 65%;
    background-color: white;
    border-radius: 15px;
}